## Machine Learning Process 
    * Loading data
    * Preprocessing 
    * Training the model
    * Evaluating the model
    * Making the predictions

In [4]:
## Import the base libraries
import pandas as pd 
from sklearn.linear_model import LogisticRegression

In [46]:
from sklearn.datasets import load_iris
loadiris = load_iris()
iris_data = pd.DataFrame(data = loadiris.data , columns=loadiris.feature_names) 
iris_data.head()

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

In [76]:
y= pd.DataFrame(loadiris.target, columns = ['Species'])
Dim_target_names = pd.DataFrame(loadiris.target_names, columns = ['Species_names'] )
# target = y.drop(columns = [0])

In [64]:
# type(y)
type(Dim_target_names)

pandas.core.frame.DataFrame

In [84]:
y.head(500)

     Species
0          0
1          0
2          0
3          0
4          0
..       ...
145        2
146        2
147        2
148        2
149        2

[150 rows x 1 columns]

In [78]:
Dim_target_names.head()

  Species_names
0        setosa
1    versicolor
2     virginica

In [85]:
y['Species'].map(dict(enumerate(Dim_target_names['Species_names']))).head(500)

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: Species, Length: 150, dtype: object

In [89]:
# create the model 
model = LogisticRegression(max_iter = 500)

In [102]:
# train the model 
model.fit(iris_data, y['Species'].map(dict(enumerate(Dim_target_names['Species_names']))).values.ravel())

LogisticRegression(max_iter=500)

In [103]:
# Predictions on the model
sample = pd.DataFrame([[4.6, 3.5, 1.5, 0.2]], columns=iris_data.columns)
predictions = model.predict(sample)

In [105]:

print(predictions)

['setosa']

# from here the part 2 of the course to begin https://mylearn.oracle.com/ou/course/oracle-cloud-infrastructure-ai-foundations/147805/201136

In [107]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import accuracy_score

In [109]:
x_train, x_test, y_train, y_test = train_test_split(iris_data, y['Species'].map(dict(enumerate(Dim_target_names['Species_names']))), test_size=0.2, random_state=42)

In [111]:
scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [113]:
model.fit(x_train_scaled, y_train)

LogisticRegression(max_iter=500)

In [114]:
y_pred = model.predict(x_test_scaled)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy', accuracy)

Accuracy 1.0

In [119]:
# sample new data for prediction 
new_data = np.array([[5.1, 3.5, 1.4, 0.2],
                     [6.3, 2.9, 5.6, 1.8],
                     [4.9, 3.8, 1.4, 8.2]])
new_data = pd.DataFrame(new_data ,columns=iris_data.columns)

In [120]:
new_data_scaled = scaler.transform(new_data)

In [121]:
prediction = model.predict(new_data_scaled)

In [122]:
print('Prediction', prediction)

Prediction ['setosa' 'virginica' 'virginica']